  <div class="row">
    <img src="./assets/background.jpg" alt="" class="img-fluid" style="height: 40rem;">
  </div>
    <div class="row text-center align-items-end">
      <div class="col">
        <button class="btn btn-outline-success mt-1 me-2 btn-lg" routerLink="login" type="button">Start</button>
        <button class="btn btn-outline-primary mt-1 me-2 btn-lg" routerLink="multiplayer">Multiplayer</button>
        <button class="btn btn-outline-info mt-1 me-2 btn-lg" routerLink="score">Score</button>
        <button class="btn btn-outline-secondary mt-1 me-2 btn-lg" routerLink="options">Options</button>
        <button class="btn btn-outline-danger mt-1 me-2 btn-lg">Quit</button>
      </div>
  </div>


