  <div class="row">
  <div class="align-items-end">

  </div>
      <div class="col text center">
        <h2>Uno</h2>
      </div>

    </div>
  <img src="./assets/background.jpg" alt="" class="img-fluid">
    <div class="row align-items-end">
      <div class="col">
        <button class="btn btn-success mt-1 me-1" routerLink="game" type="button">Start</button>
        <button class="btn btn-primary mt-1 me-1" routerLink="multiplayer">Multiplayer</button>
        <button class="btn btn-info mt-1 me-1" routerLink="score">Score</button>
        <button class="btn btn-secondary mt-1 me-1" routerLink="options">Options</button>
        <button class="btn btn-danger mt-1 me-1">Quit</button>
      </div>
  </div>


