<div class="container">
  <div class="score">
    <p>Name</p>
    <p>Score</p>
    <button class="btn btn-primary" routerLink="/" type="button">Back to Lobby</button>
  </div>
</div>


<!--<div class="uno-scoreboard">
  <h2>UNO Scoreboard</h2>
  <div class="player-list">
    <div *ngFor="let player of players; let i = index" class="player">
      <span>{{ player }}</span>
      <button (click)="updateScore(i, 1)">+1</button>
      <button (click)="updateScore(i, -1)">-1</button>
      <span class="score">{{ scores[i] }}</span>
    </div>
  </div>
  <div class="add-player">
    <input [(ngModel)]="newPlayer" placeholder="Spielername">
    <button (click)="addPlayer(newPlayer)">Hinzufügen</button>
  </div>
</div>-->
