<div class="row">
  <div class="col">
    <div class="game-bg-img"></div>
    <!--card *ngFor="let card of player?.cards"></card-->
<!--      <div class="card-deck">-->
<!--        <card [card]="card2"></card>-->
<!--        <div class="card-deck-item1">-->
<!--          <card [card]="card3"></card>-->
<!--        </div>-->
<!--      </div>-->

      <player *ngFor="let p of game?.players" [player]="p" class="player-hand" ></player>
    <deck *ngIf="game" [deck]="game.discardPile"></deck>
    <deck *ngIf="game" [deck]="game.drawPile" [hidden]="true"></deck>
  </div>
</div>
<div class="row">
    <div class="text-center mt-2">
      <button class="btn btn-danger btn-outline-light btn-lg" (click)="giveUp()" routerLink="lobby" type="button">Quit</button>
    </div>
</div>
