<div class="row">
  <div class="col">
    <div class="game-bg-img"></div>
      <div class="card-deck">
        <img src="./assets/cards/back.svg" class="card-deck-blank" alt="">
        <card [card]="card2"></card>
        <div class="card-deck-item1">
          <card [card]="card3"></card>
        </div>
      </div>

      <player [player]="player1" class="player-hand"></player>
      <player [player]="player2" [isEnemy]="true" class="opponent-hand"></player>
      <!--  <deck [cards]="cards" [hidden]="false"></deck>-->
      <!--  <deck [cards]="cards" [hidden]="true"></deck>-->
  </div>
</div>
<div class="row">
    <div class="text-center mt-2">
      <button class="btn btn-danger btn-outline-light btn-lg" (click)="giveUp()" routerLink="lobby" type="button">Quit</button>
    </div>
</div>
